---
import {actions} from "astro:actions";
import { GET } from "../pages/api/users";
let response = await GET(Astro);
const users = await response.json();
const result = Astro.getActionResult(actions.createUser);
import Users from "./Users";

const handleSubmit = async (event: Event) => {
    event.preventDefault();
    const formData = new FormData(event.target as HTMLFormElement);
    const result = await actions.createUser(formData);
    console.log(result);
};
---

<div>
    <h1 class="text-3xl font-bold">Test</h1>
    <Users users={users} />
    
    <form method="POST" action={actions.createUser}>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Create User</button>
    </form>
</div>

<style>
</style>